// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


@font-face {
    font-family: Yekan;
    src: url('../../public/css/IRAN Sans.ttf');
    font-weight: normal;
}
